<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lacalization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E197616F1EA23CA20093EDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E19761831EA23CA20093EDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E197618E1EA23CA30093EDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
